body {
  padding: 50px 0 0 0;
  background-color: #D0D7DD;
  font-family: Raleway;
}

@media (min-width: 992px) {

}

/*
.container {
  max-width:940px;
  margin:0 auto;  
}
*/

.content_panels {
  margin-top: 15px;
  margin-left: 1px;
  margin-right: 10px;
}

.content_panels a:link, .content_panels a:visited, .content_panels a:active, .content_panels a:hover  {
  color: white
}

.home_section {
  font-style: bold; 
  color: white;
}

.padding {
  padding: 15px;
}

.introduction {
  
}

.quotes_panel {
  background-color: rgba(54,112,184,0.9);
}

.community {
  background-color: rgba(243,146,0,0.9);
}

.recreate {
  background-color: rgba(4,112,184,0.9);
}

.offering {
  background-color: rgba(94,165,67,0.9);
}

.word {
  background-color: rgba(190,21,34,0.9);
}

.networks {
  background-color: rgba(149,27,129,0.9);
}

#container_text a:link, #container_text a:visited, #container_text a:active, #container_text a:hover  {
  color: white
}

.post-content {
  background: none repeat scroll 0 0 #FFFFFF;
  opacity: 0.5;
  margin: -54px 20px 12px; 
  position: absolute;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.quotes {
  display: none;
  font-size:24px;
  font-weight:normal;
  font-style:italic;
  color:#fff;
}

.quotes:before {
  content: '\201C';
}

.quotes:after {
  content: '\201D';
}
