.cust-quotes {
  width: 100%;
  height:110px;
  position:relative;
  vertical-align: top;
  text-align: center;
}

.cust-quotes blockquote {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  font-size: 14px;
  text-align: center;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease-out 0s, transform 0.5s ease-in 0s;
  vertical-align: top;
}

/* IE < 10 fallback */
.no-csstransitions .cust-quotes blockquote,
.no-csstransforms .cust-quotes blockquote {
   position:relative;
}

.cust-quotes blockquote:first-child {
    opacity: 0;
    transform: translateY(-10px) scale(1.1);
}
.cust-quotes blockquote:first-child + blockquote {
    opacity: 1;
    z-index: 1;
    transition: opacity 1.6s ease 0s;
}
.cust-quotes blockquote p{
  font-size:26px;
  font-weight:normal;
  font-style:italic;
  color:#fff;
  line-height: 30px;
  margin-bottom: 10px;
  vertical-align: top;
}
.cust-quotes blockquote p:before {
   content: '\201C';
}
.cust-quotes blockquote p:after {
   content: '\201D';
}
.cust-quotes blockquote cite {
    text-align: center;
    font-size: 20px;
    color: #898989;
    font-style: italic;
}
.cust-quotes blockquote cite a {
  font-size:14px;
  font-weight:normal;
}



.container {
  
max-width:940px;
margin:0 auto;  

}

#testimonials {
  margin:0 auto;
  width:940px;

}